header {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 50px;
  border: 5px solid gray;
  padding: 20px;
}

h2 {
  text-align: center;
  font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 32px;
  border: 5px solid gray;
  padding: 20px;
}

p {
  font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 24px;
  border: 5px solid gray;
  padding: 20px;
  margin: 20px;
}
/* li a:active {
  position: relative;
  top: 2px;
  bottom: 2px;
} to make buttons interactive.
:active is a psuedo-class selector, which we use to style an element only while it’s being clicked.*/
li {
  border: 2px solid gray;
  display: inline;
  margin: 20px;
  padding: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
