html {
  background-image: url("https://images.pexels.com/photos/2284166/pexels-photo-2284166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

#jumbotron {
  background: url(https://images.pexels.com/photos/4198182/pexels-photo-4198182.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: dimgray;
  border: 5px solid black;
  border-radius: 20px 20px 20px 20px;
  padding: 20px;
}

#comments {
  text-align: center;
}

header {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: Palatino, "Palatino Linotype", serif;
  font-size: 50px;
  background-color: dimgray;
  border: 5px solid black;
  border-radius: 20px 20px 20px 20px;
  padding: 20px;
}

h2 {
  text-align: center;
  font-family: Palatino, "Palatino Linotype", serif;
  font-size: 32px;
  border: 5px solid gray;
  padding: 20px;
}

main {
  font-family: Palatino, "Palatino Linotype", serif;
  font-size: 24px;
  color: lightcyan;
  background-color: grey;
  border: 5px solid black;
  border-radius: 20px 20px 20px 20px;
  padding: 20px;
  margin: 20px;
}

/* li a:active {
  position: relative;
  top: 2px;
  bottom: 2px;
} to make buttons interactive.
:active is a psuedo-class selector, which we use to style an element only while it’s being clicked. */

li {
  background-color: dimgray;
  border: 2px solid black;
  border-radius: 20px 20px 20px 20px;
  display: inline-flex;
  margin: 20px;
  padding: 20px;
  font-weight: bold;
}

ul {
  text-align: center;
}

main > p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#gallery {
  border-radius: 20px 20px 20px 20px;
  background-color: dimgray;
  border: 2px solid black;
}

footer {
  text-align: center;
}
